   <!-- Criando nav, barra de topo, definir a cor nav-bar light, cor dos textos bg-light-->
   <nav class="navbar navbar-light bg-primary"> <!--bg-primary é o plano de fundo-->
    <a  class="navbar-brand" href="/"> <!-- Classe vai alinha nav bar a esquerda-->

        <!-- vai ser a logo que vai direcionar para página principal-->
         <img src="/img/guiaprogramador.png">   
    </a>
</nav>
